:root {
        /* Primary */
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

        /* Gradients */
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);

    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%,0);
    
    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Hanken Grotesk', sans-serif;
}

.contentWrapper{
    display: flex;
    border-radius: 40px;
    box-shadow: 1px 1px 50px lightgray;
}

.contentLeft{
    background-image: linear-gradient(var(--Light-slate-blue),var(--Light-royal-blue));
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 512px;
    border-radius: 40px;
}

.contentLeft h2{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--Light-lavender);
    text-align: center;
    padding-top: 15px;
}

.scoreLetter{
    color: var(--White);
    font-size: 35px;
    text-align: center;
}

.roundedScore{
    background-image: linear-gradient(var(--Violet-blue),var(--Persian-blue));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.roundedScore span{
    color: white;
    font-size: 60px;
    font-size: 70px ;
    font-weight: 800;

}

.roundedScore p{
    color: rgb(159, 159, 159);
    font-size: 18px;
}

.comentScore{
    color: var(--Light-lavender);
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 245px;
}

.contentRight{
    background-color:var(--White);
    width: 370px;
    height: 512px;
    border-radius: 40px;
    /* border: solid 2px red; */
}

.contentRight h2{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 40px;
    padding-top: 15px;
}

.stats{
    display: flex;
    margin: 18px 18px 0px 40px;
    width: 288px;
    height: 58px;
    border-radius: 15px;
    justify-content: space-between;
}
.stat1{
    background-color: hsl(0, 100%, 67%,0.08);
    color: var(--Light-red);
}
.stat2{
    background-color: hsl(39, 100%, 56%,0.08);
    color: var(--Orangey-yellow);
}
.stat3{
    background-color: hsl(166, 100%, 37%,0.08);
    color: var(--Green-teal);
}
.stat4{
    background-color: hsl(234, 85%, 45%,0.08);
    color: var(--Cobalt-blue);
}

.mark {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70px;
    margin-right: 10px;
    font-size: 20px;
}

.mark p{
    color: rgb(161, 161, 161);
}

img{
    width: 22px;
    height: 22px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 12px;
}

button{
    background-image: linear-gradient(var(--Light-slate-blue),var(--Light-royal-blue));
    width: 288px;
    height: 55px;
    border: none;
    border-radius: 90px;
    color: white;
    margin:40px 40px 45px 40px;
}

.attribution{
    /* display: flex;
    flex-wrap: nowrap; */
    padding-top: 30px;
}